.room-content-container {
    height: 100%; /* or a specific height in pixels, e.g., 500px */
    overflow-y: auto;
}
.no-data-text{
    height: auto !important;
    font-size: 14px;
    border-top: 2px solid #ddd;
    padding-top: 16px;
    margin-bottom: 13px;
    margin-top: 13px;
}

#loadingMessage{
    position: fixed;
    background: #fff;
    border: 2px solid #ce1f22;
    border-radius: 12px;
    left: calc(50% - 54px);
    padding: 10px;
    text-align: center;
    top: calc(50% - 34px);
    z-index: 9999;
}

.command {
	display: inline-block;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 20px;
}