
/* pdf summary page css */
.pdf-summary-container p{
    margin: 0 0 10px !important;
}
.logo{
	width: 20%;
    position: unset;
}
.intro{
	width: 80%;
	padding-left: 20px;
}
.logo img {
    max-height: 80px;
}

.selection-title {
    margin-top: 20px;
    font-weight: bold;
}
.product-image {
    border-radius: 10px;
    margin-bottom: 40px;
	/* max-height: 400px; */
}
.details-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
	background-color: #F6F6F6;
	
}
.details-card img {
   max-width: 100%;
    border-radius: 8px;
}
.details-card h5 {
    font-size: 16px;
}
.right-panel {
    background-color: #D9D9D9;
    padding: 20px 15px;
    border-radius: 10px;
	margin-top: 45px;

}
.download-btn {
    width: 100%;
    background-color: #ce1f22;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}
.footer-section {
    margin-top: 30px;
	margin-bottom: 20px;
}
.modify-btn{
    background-color: #ce1f22;
	border-color:#ce1f22 !important;
    color: #fff;
    border: none;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
}
.modify-btn:hover , .modify-btn:focus{
	color: #fff !important;
	border-color:#ce1f22 !important;
	outline: none !important;
	outline-offset: none !important;
	background-color: #ce1f22 !important;
}
.notes_ul{
    margin-left: 20px;
}

.notes_ul li {
    list-style-type: nu;
	margin-bottom: 5px;
}
.product-title{
	margin-bottom: 20px;
}
.cmn_link{
	color: #000;
}
.cmn_link:hover{
	color: #a5181a;
}

.details-card p{
	margin-bottom: 2px;
	font-size: 14px;
	color: #3F3F46;
}
.tile-cal-link{
	color: #3F3F46;
	font-weight: 500;
	margin-top:10px;
    font-size: 14px;
	text-decoration: underline;
	display: inline-block;
	border:none;
	background:transparent;
	box-shadow: none;
	padding:0px !important;
	text-align: left;

}
.tile-cal-link:hover{
	color: #a5181a;

}
.tile-cal-btn{
	min-width: 100px;
    font-weight: 400 !important;
}
.btn-div{
	margin-bottom: 10px;
	margin-top: 10px;
}
.modal-content .close{
	color: #ce1f22;
	opacity: 1;
	font-size: 30px;

}
.modal-content .close:hover{
	color: #ce1f22;
	opacity: 1;
}
.modal-title{
	margin-top: 10px !important;
}
.modal-header .close {
    margin-top: 1px !important;
}
.result-main .form-label{
	margin-bottom: 10px;
}
.reset_btn{

  background-color: #333 !important;
	border-color: #333 !important;
}
.reset_btn:hover , .reset_btn:focus{
	background-color: #333 !important;
	border-color: #333 !important;
}

.font-bold{
	font-weight: bold;
}
.mt-0{
	margin-top: 0px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: transparent !important;
}

/* media query */

@media (max-width:1200px) {

	.logo {
		width: 25%;
	}
	.intro {
		width: 75%;
	}

}

@media (max-width:991px) {

	.logo {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		justify-content: center;
	}
	.intro {
		width: 100%;
		padding-left: 0px;
	}
	.product-title{
		margin-top: 0px !important;
	}
	.modify-btn{
		margin-bottom: 10px;
	}
	.right-panel{
		margin-top: 20px !important;
		margin-bottom: 20px;
	}

}

	@media (max-width:768px) {
		.img-wall-set{
			margin-bottom: 20px;
		}
		.product-title{
			font-size: 22px !important;
		}
		.xs-text-left{
			text-align: left;
		}
		.xs-margin-set{
			margin-top: 10px;
		}
		.tile-cal-link{
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
		.xs-margin-top-20{
			margin-top: 20px;
		}
		

	}
