

body{
  font-family: "Rethink Sans", serif !important;
  font-optical-sizing: auto;
  font-size: 14px;
}

.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.flex-wrap{
	flex-wrap: wrap;
}
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}
.cap-text{
	text-transform: uppercase;
}
.font-bold{
	font-weight: bold;
}
.dark-grey-font{
	color: #3F3F46;
}
.mr-10{
	margin-right: 10px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.mt-0{
	margin-top: 0px !important;
}
.ml-10{
	margin-left: 10px;
}
.margin-bottom-5{
	margin-bottom: 5px;
}
.form-control{
	box-shadow: none !important;
	outline: none !important;
	transition:none !important;
}
.form-control:focus{
	box-shadow: none !important;
	outline: none !important;
	transition:none !important;
	border-color: #ce1f22 !important;
  }
  .cmn-form-data label{
	margin-bottom: 10px;
  }
